{% extends "layout.html" %}

{% block title %}
    Ingredients
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block main %}

<div class="row justify-content-center d-flex mb-5">

    {% if message %}
    <div class="alert alert-light alert-dismissible" role="alert" style="position:absolute;">   
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

</div>

<div class="row d-flex pt-5 mt-5">
    <div class="col-4 pt-5">
        <h1 class="display-1 text-end">Browse</h1> 

        <div class="container collapse browse text-end pt-3">
            <p>filter by category:</p>
            
            {% for category in categories %}

            <div class="form-check">
                <input class="form-check-input focus-ring me-1" type="checkbox" name="category" value="{{ category.category }}">
                <label class="form-check-label" for="{{ category.category }}">
                    {{ category.category }}
                </label>
            </div>
            
            {% endfor %}

            <button type="submit" id="filter" class="btn btn-primary btn-dark my-3">Filter</button>

        </div>
    </div>

    <div class="col-8 light2 pt-5">

        <div>
            <h1 class="display-1 text-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" stroke="currentColor" class="chevron" viewBox="0 0 16 16"  data-bs-toggle="collapse" href=".browse" role="button" aria-expanded="false" aria-controls="browse">
                    <polyline style="fill:none;stroke-width:1" points="2,5 8,10 14,5"></polyline>
                </svg>
            </h1>
        </div>

        <div class="container collapse browse pe-5" id="browse">
            <div class="card-body table-responsive p-1 pe-5">
                <table id="table-products" class="table table-borderless text-end align-middle">
                    <thead>
                        <tr>
                            <th class="text-start w-50">Name</th>
                            <th class="dt-right">Category</th>
                            <th class="dt-right">Add to cart</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td class="text-start">{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td class="d-inline-flex justify-content-end align-items-center">
                                
                                <input type="number" class="form-control form-control-sm text-center" style="width:100px;" value="{{ product.unit|defaultQuantity }}" min="0" step="{{ product.unit|defaultQuantity }}"> 
                                <span class="text-start ms-2" style="width:50px;"> {{ product.unit }} </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

</div>

<div class="row d-flex">
    <div class="col-4">
        <h1 class="display-1 text-end">Add</h2> 
    </div>

    <div class="col-8 light2 pb-5">

        <div>
            <h1 class="display-1 text-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" stroke="currentColor" class="chevron" viewBox="0 0 16 16" data-bs-toggle="collapse" href="#add" role="button" aria-expanded="false" aria-controls="add">
                    <polyline style="fill:none;stroke-width:1" points="2,5 8,10 14,5"></polyline>
                </svg>
            </h1>
        </div>

        <div class="container collapse text-start pe-5" id="add">
            <div class="card-body p-1 pe-5">
            <form action="/ingredients" method="post">

                <div class="row mb-3">
                    <div class="col-sm-5">
                        <label for="name" class="col-form-label">Ingredient name</label>

                        <input type="text" class="form-control" name="name" required>
                    </div>

                    <div class="col-sm-5">
                        <label for="unit" class="col-form-label">Unit</label>

                        <input type="text" class="form-control" name="unit" placeholder="ml, g, pcs..." required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <label for="category" class="col-form-label">Category</label>
                    </div>

                    <div class="col-sm-5">
                        <select class="form-select focus-ring" name="category">
                            <option selected value="">Select...</option>

                            {% for category in categories %}

                            <option value="{{ category.category }}">
                                {{ category.category }}
                            </option>
                            
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="categoryNew" placeholder="...or add new">
                    </div>

                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-12 pt-0">Visibility</legend>

                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input focus-ring me-1" type="radio" name="visibility" id="private" value="private" required>
                            <label class="form-check-label me-2" for="private">private</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input focus-ring me-1" type="radio" name="visibility" id="public" value="public" required>
                            <label class="form-check-label" for="public">public</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row mb-3">
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary btn-dark">Add ingredient</button>
                    </div>
                </div>

              </form>
              </div>
        </div>

    </div>

</div>


{% endblock %}

{% block script %}

<script>
    $(document).ready(function() {
        var table = $('#table-products').DataTable({

        //disable sorting on all columns but first
        "columnDefs": [
            //{ "targets": 1, "searchable": true, "visible": false },
            { "orderable": false, "targets": 2 },
        ],

        "pageLength": 20,

        language: {
            //customize number of elements to be displayed
            "lengthMenu": 'Display <select class="form-select form-control input-sm">'+
            '<option value="20">20</option>'+
            '<option value="40">40</option>'+
            '<option value="80">80</option>'+
            '<option value="-1">All</option>'+
            '</select> results'
        }
        });
        
        //checkbox filtering adapted from https://datatables.net/forums/discussion/61118/checkbox-filters
        $( "#filter" ).on( "click", function() {
       //build a regex filter string with an or(|) condition
        var positions = $('input:checkbox[name="category"]:checked').map(function() {
            return '^' + this.value + '$';
        }).get().join('|');
        
        //filter in column 1, with an regex, no smart filtering, not case sensitive
        table.column(1).search(positions, true, false, false).draw(false);

        });

    } );
</script>

{% endblock %}